@font-face {
    font-family: Mont;
    src: url(Mont.otf);
    }
body {
    opacity: 0,5;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size : 100%;
    background-attachment: fixed;
    margin:0;
    font-family: Mont;
   
}
ul.m {
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 50px;
    background-color: rgb(37, 42, 55);
    
}
li {
    float: right;
  }
li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
img {
    width: 90px;
    }
#z {
    position: absolute;
    left: 10px;
    top:0px;
  }
#a {
      color: rgb(62, 56, 159);
      font-size : 50px;
      text-align: center;
}
 #b{
  text-align : justify;
  font-weight: bolder;
  
  padding: 10px;
  background-color: #0E3552;
  color: white;
  width: 300px;
  height: 300px;
  float: left;
  margin-left: 90px;
  text-align:center;
}

#c{
  text-align : justify;
  font-weight: bolder;
  border-style: unset;
  background-color: #0E3552;
  color: white;
  width: 28%;
  height: 400px;
  float:left;
  text-align:center;
  margin-left: 120px;
  padding-top: 10px;
  padding: 10px;
  
 }

 #d{
  text-align : justify;
  font-weight: bolder;
  padding: 10px;
  background-color: #0E3552;
  color: white;
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 70px;  
  margin-left: 120px;
  text-align:center;
}
#j {
  width:100%;
}
#e{
  width: 100%;
}
#y {
  width: 100%;
}
#s {
  margin-top: 500px;
  border: 1px solid black;
}
#r {
  width:300px;
}
#p {
  width: 80%;
  text-align: center;
}
#t{
  border: 1px solid black;

}
#n {
  width : 70px;
}
#k {
  text-align: center;
}


